---
// COMPONENTS
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";

// Get all *.md files
const allPosts = await Astro.glob("../pages/posts/*.md");
const pageTitle = "Mon blog";
---

<BaseLayout pageTitle={pageTitle}>
    <h2>Mon blog d'apprentissage Astro</h2>
    <p>Voici où je vais publier mon parcours d'apprentissage d'Astro.</p>
    <ul>
        {
            allPosts.map((post) => (
                <BlogPost url={post.url} title={post.frontmatter.title} />
            ))
        }
    </ul>
</BaseLayout>
